body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}
.clock{
    font-family: 'Digital-7', sans-serif;
    color: orange;
    font-size: 100px;
    text-shadow: 0 0 20px white, 0 0 30px orange, 0 0 40px white, 0 0 50px white, 0 0 60px orange;
}